<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>op_createhooks</name>
	<displayName><![CDATA[OrangePix - Generatore di Hooks]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[OrangePix - Generatore di Hooks]]></description>
	<author><![CDATA[OrangePix Srl]]></author>
	<tab><![CDATA[administration]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
