<?php return array (
  'parameters' => 
  array (
    'database_host' => '127.0.0.1',
    'database_port' => '',
    'database_name' => 'wasabi',
    'database_user' => 'user',
    'database_password' => 'password',
    'database_prefix' => 'wa_',
    'database_engine' => 'InnoDB',
    'mailer_transport' => 'smtp',
    'mailer_host' => '127.0.0.1',
    'mailer_user' => NULL,
    'mailer_password' => NULL,
    'secret' => 'JJJnoc08FQvbb7S60FsvoX4XiXVm3kuzudkh76YyoaE9aHC2RVLc0gcza0cEfEZN',
    'ps_caching' => 'CacheMemcache',
    'ps_cache_enable' => false,
    'ps_creation_date' => '2023-07-18',
    'locale' => 'it-IT',
    'use_debug_toolbar' => true,
    'cookie_key' => 'oIN1csv57XYkqh1YAhvXmV6GOu9R3Z2xbZaZW1JRB9LS0rzPRa42DWhpZS4sV9Y6',
    'cookie_iv' => 'ttkQuzBu3Nw8FcE775HJUAFeBo1reyJI',
    'new_cookie_key' => 'def00000b56aca9adb2b2bf75a4ab0c8d7049f105a582845743dedd2d8563dacb3155867c822a223116bd804acd8a2b40d02af67aeda8d9e526c4ef1b39abcc11f890dfc',
  ),
);