<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>opxcatalogseo</name>
    <displayName><![CDATA[Catalog SEO manager]]></displayName>
    <version><![CDATA[2.1.0]]></version>
    <description><![CDATA[Manage SEO fields for new categories and products]]></description>
    <author><![CDATA[OrangePix Srl]]></author>
    <tab><![CDATA[administration]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
</module>