/** KeyFrames **/
    
@-webkit-keyframes dFadeInFromLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-1000px);
        transform: translateX(-1000px);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes dFadeInFromLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-1000px);
        transform: translateX(-1000px);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
    
.dFadeInFromLeft {
    -webkit-animation-name: dFadeInFromLeft;
    animation-name: dFadeInFromLeft;
}

/* The dTyping effect */
@keyframes dTyping {
    from { width: 0 }
    to { width: 100% }
}
@-webkit-keyframes dTyping {
    from { width: 0 }
    to { width: 100% }
}


@keyframes dGrow {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    80%{
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@-webkit-keyframes dGrow {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    80%{
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes dOpacity {
    0% {
        opacity: 0;
    }
    80%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes dOpacity {
    0% {
        opacity: 0;
    }
    80%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#dSlider{
    overflow: hidden;
    position: relative;
    height: 100%;
    width: 100%;
    .dSlider {
        position: relative;
        width: 100%;
        height: 100%;
        .dSlider-slide {
            text-align: center;
            position: relative;
            width: 100vw!important;
            height: calc(100vh - 40px)!important;
            display: flex!important;
            padding: 0 40px;
            /* TABLET */
            @media screen and (min-width:992px) {
                padding: 0 80px;
            }
            /* DESKTOP */ 
            @media screen and (min-width:1200px) {
                height: calc(70vh - 40px)!important;
                padding: 0 120px;
            }
            img{
                position: absolute;
                left: 0;
                top: 0;
                object-fit: cover;
                z-index: 0;
                width: 100%;
                height: 100%;
                object-position: center;
            }
            .dOverlay{
                background-image: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.6) 100%);
                position: absolute;
                left: 0;
                top: 0;
                z-index: 1;
                object-position: center;
                width: 100%;
                height: 100%;
            }
            .dSlider-content{
                z-index: 2;
                position: relative;
            }
            .dSlider-description{
                max-width: 600px;
                margin: 0 auto;
            }
        }

        .dSlider-title{
            font-size: 40px;
            text-transform: uppercase;
            @media screen and (min-width:992px) {
                &{
                    font-size: 60px;
                }
            }
        }
        .dSlider-subtitle{
            font-size: 24px;
            text-transform: uppercase;
            display: inline-block;
            @media screen and (min-width:992px) {
                &{
                    font-size: 34px;
                }
            }
        }
        
    }
    
    .slick-dots {
        position: absolute;
        bottom: 10px;
        display: block;
        width: 100%;
        padding: 0;
        list-style: none;
        text-align: center;
        padding: 0 140x;
        @media screen and (min-width:992px) {
            text-align: center;
            padding: 0 120px;
        }
    }
    
    .slick-dots li {
        position: relative;
        display: inline-block;
        width: 30px;
        height: 6px;
        margin: 0 5px;
        padding: 0;
        cursor: pointer;
        &.slick-active{
            & button{
                height: 4px;
            }
        }
    }
    
    .slick-dots li button {
        font-size: 0;
        line-height: 0;
        display: block;
        width: 30px;
        height: 2px;
        padding: 0px;
        cursor: pointer;
        border-radius: 0;
        border: 0;
        outline: none;
        
    }
    
    .slick-dots li button::before {
        font-size: 18px;
        color: #fff;
        opacity: 1;
    }
    
    .slick-active button {
        background: #fefefe;
    }


    /* Animazioni */
    
    .slick-active .dSlider-content {
        opacity: 1;
        width: 100%;
        padding: 10px 20px 30px 0;
        
        .dSlider-subtitle {
            overflow: hidden; /* Ensures the content is not revealed until the animation */
            white-space: nowrap; /* Keeps the content on a single line */
            margin: 0 auto; /* Gives that scrolling effect as the dTyping happens */
            animation: dOpacity 1.4s steps(40, end);
        }
        .dSlider-title{
            animation: dOpacity 1.8s;
        }
        .dSlider-description {
            animation: dOpacity 2.2s;
        }
        .dSlider-button{
            animation: dOpacity 2.6s;
        }
    }

    
    
}